.get-demo h2{
    font-size: 44.55px;
    line-height: 52.9px;
    text-align: center;
    padding: 22px;
}

.get-demo{
    background-color: #F5F7FA;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.get-demo button{
    background-color: #4CAF4F;
    border-radius: 2.78px;
    color: white;
    line-height: 16,7px;
    font-size: 11.14px;
    width: 124px;
    height: 36px;
    border: none;
    justify-content: center;
    align-items: center;
}

.footer{
    padding: 45px 0 45px 0;
    justify-content: space-around;
    display: flex;
    background-color: #263238;
}

.right-footer{
    display: flex;
}

.right-footer li{
 list-style: none;
}

.right-footer a{
    color: #F5F7FA;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}


.list{
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.social-network{
    display: flex;
}

.copyright{
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: white;
    line-height: 13.9px;
}

.logo{
    color: white;
    font-size: 20px;
}

.get-demo{
    display: flex;
    flex-direction: column;
    gap: 22px;
    justify-content: center;
    align-items: center;
    padding-bottom: 22px;
}

.link h3{
    font-size: 14px;
    font-weight: 600;
    color: white;
    padding-bottom: 15px;    
}

.link a{
    color: #F5F7FA;
    font-size: 10px;
    font-weight: 400;
}

.link-item{
    display: flex;
    gap: 40px;
}

.right-footer{
    display: flex;
    gap: 20px;
}

.right-footer input{
    border-radius: 20px;
    border: none;
    color: #717171;
}

.mail h3{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #89939E;
    padding: 5px;
    border-radius: 15px;
}

.left-footer{
    display: flex;
    flex-direction: column;
    gap: 30px;

}