* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.text{
    color: #717171;
    margin-left: 50px;
    margin-right: 150px;
    margin-top: 50px;
    font-size: 20px;
}
.h1test{
    color: #4CAF4F;
    margin-left: 260px;
    margin-top: -90px;

}
.text2{
    color: #89939E;
    margin-left: 260px;
}
.q1{
    display: flex;
}
body{
    padding: 0px;
    margin: 0px;
}
.q2{
    margin-left: 340px;
}
.tesla{
    margin-top: 30px;
    margin-left: 250px;
    width: 300px;
    height: 300px;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #f5f7fa;
    color: #1a1a1a;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}

.testimonial-section {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    margin-bottom: 80px;
     margin-left: 230px;
}

.testimonial-section img {
    width: 120px;
    height: 120px;
}


.testimonial-content p {
    margin-bottom: 20px;
    color: #555;
}

.testimonial-author {
    color: #27ae60;
    font-weight: 600;
    margin-bottom: 4px;
}

.testimonial-role {
    color: #888;
    font-size: 50px;
    margin-bottom: 16px;
}

.partners {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.partners img {
    width: 40px;
    height: 40px;
    opacity: 0.8;

}
.meet-link {
    color: #27ae60;
    font-weight: 600;
    text-decoration: none;
    margin-left: auto;
}

.blog-section {
    text-align: center;
}

.blog-section h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.blog-section p {
    color: #666;
    max-width: 700px;
    margin: 0 auto 50px;
}

.blog-cards {
    display: flex;
    gap: 30px;
    margin-left: 250px;
}

.blog-card {
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    position: relative;
}

.blog-card img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.blog-info {
    background: #fff;
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    padding: 20px;
}

.blog-info h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.readmore {
    color: #27ae60;
    font-weight: 600;
    text-decoration: none;
}